/* Hide Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide Shop tab */
[aria-label="Direct Messages"] > li:has(
  [href="/shop"]
) {
  display: none;
}

/* Hide Nitro tab */
[aria-label="Direct Messages"] > li:has(
  [href="/store"]
) {
  display: none;
}
[aria-label="Direct Messages"] > div:has(
  [href="/store"]
) {
  display: none;
}

/* Hide app launcher next to message box */
div[class^="channelAppLauncher"] {
    display: none;
}

/* Hide recent apps section at top of DMs */
h2[class*="privateChannelsHeaderContainer_"]:first-of-type {
    display: none;
}
