/* Hide Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide Shop tab */
[aria-label="Direct Messages"] > li:has(
  [href="/shop"]
) {
  display: none;
}

/* Hide Nitro tab */
[aria-label="Direct Messages"] > li:has(
  [href="/store"]
) {
  display: none;
}

/* Hide app launcher next to message box */
div [class^="channelAppLauncher"] {
    display: none;
}
